body {
    margin: 0;
    min-height: 100vh;
    color: #222222;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.image-container img {
    max-width: 100%;
    max-height: none;
    width: 600px;
    height: auto;
    margin-top: 500px;      
}

.rain-image {
    position: fixed;
    top: -100px;
    width: 80px;
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(120vh) rotate(360deg);
        opacity: 0;
    }
}

.delivery-message {
    color: #000000;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
     font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

